.navigation-bar{
	background-color:rgba(0,0,0,0.5);
	backdrop-filter: blur(10px);
}

.navigation-bar a{
	color: white;
	font-size: 19px;
	padding: 20px 30px 20px 30px ;
	display: inline-block;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border: 0px;
}

@media only screen and (max-width: 640px) {
	.navigation-bar{
		background-color:black;
		background-image: none;
	}
	.navigation-bar a{
		display: block;
		text-align: center;
	}
}

@media only screen and (min-width: 641px) {
	.navigation-bar{
		display: flex;
    	justify-content: center;
    	align-items: center;
	}
}


.navigation-bar a.current{
	background-color: rgba(38,192,65,0.25);
	border-color: rgba(38,192,65,0.25);
	border: 0px;
}

.navigation-bar a:hover{
	color:white;
	border-color: transparent;
}

#navigation-home-symbol {
	width: 25px;
	height: 25px;
}

.navigation-bar  #navi-tickets{
	background-color: #26c041;
	color: white
}
.on-red #navi-tickets{
	background-color: #d90404;
}

.navigation-bar a#navi-tickets{
	color: white;
	text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
.navigation-bar #navi-tickets svg{
	margin-right:5px;
	transform: rotate(-45deg);
	color: white;
	text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

/*-----------------------
 Hamburger
 -----------------------*/
#hamburger{
	position: fixed;
	z-index: 9999;
	right: 10px;
	top: 10px;
	width: 70px;
	height: 70px;
}
#hamburger svg{
	width: 35px;
	height: 35px;
	float: right;
	color:#38b854;
}

.on-red #hamburger svg{
	color:red;
}

#offCanvas{
	background-color: black;
	z-index: 500;
}
