
#community-program .program-table {

    background-color: black;
}

@media screen and (max-width: 768px) {
    #community-program .program-table {
        margin: 0px -20px 0px -20px;
        background-color: transparent;
    }
}

/* row */
#community-program .program-table .row {

    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

@media (max-width: 768px) {
    #community-program .program-table .row {
        display: block;
        border-bottom: none;
    }
}

/* row cell */
#community-program .program-table .row div {
    padding: 40px 20px 40px 20px;
}

@media (max-width: 768px) {
    #community-program .program-table div {
        display: block;
        padding: 20px 0px 20px 0px;
    }
}

/* cell time */
#community-program .program-table .row div.time {
    width: 100px;
    flex-basis: 100px;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 18px;
    font-weight: 600;
    background-color: black;

}

@media (max-width: 768px) {
    #community-program .program-table .row div.time {
        width: 100%;
        padding: 25px 10px 25px 10px;
        line-height: 1;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        background-color: green;
    }
}

/* cell title */
#community-program .program-table .row div.title {
    width: 200px;
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #445F66;
}

@media (max-width: 768px) {
    #community-program .program-table .row div.title {
        width: 100%;
        padding: 35px 20px 35px 20px;
        font-size: 20px;
        font-weight: 600;
        background-color: transparent;
    }
}

/* cell description */
#community-program .program-table .row div.description {
    padding: 40px !important;
    text-align: left;
}

#community-program .program-table .row div.description p {
    margin-top: 0px;
    font-size: 16px;
}

@media (max-width: 768px) {
    #community-program .program-table .row div.description {
        padding: 0px 20px 20px 20px !important;
        font-size: 15px;
    }
}

/* sub header */
#community-program h3 {
    margin-bottom: 30px;
    margin-top: 80px;
}

@media screen and (max-width: 768px) {
    #community-program h3 {
        font-size: 30px;
    }
}

/* First section after nav needs less top margin */
#community-program .cv-section:first-child h3 {
    margin-top: 30px;
}


#community-program .cell.medium-6 p {
    text-align: left;
}

/* Single column for continuous and villagers when hamburger is visible */
@media screen and (max-width: 1210px) {
    #community-program .cell.medium-6,
    #villagers .cell.large-6 {
        width: 100%;
        flex: 0 0 100%;
    }
}

/* Intro section spacing */
#workshops {
    margin-bottom: 30px;
}

/* Sticky tab navigation */
.cv-tabs {
    position: sticky;
    top: 68px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    margin: 0 -50px 40px -50px;
    padding: 0;
    min-height: 55px;
}

.cv-tabs a {
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: white;
    border: none;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv-tabs a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

.cv-tabs a.active {
    color: white;
    background-color: var(--color-orange);
}

.cv-tabs a:focus-visible {
    outline: 2px solid white;
    outline-offset: -2px;
}

/* Section scroll offset */
.cv-section {
    scroll-margin-top: 140px;
}

#villagers {
    scroll-margin-top: 140px;
}

/* When hamburger menu is visible */
@media screen and (max-width: 1210px) {
    .cv-tabs {
        top: 0;
        margin: 0;
        padding-right: 55px;
        height: 55px;
        align-items: stretch;
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        margin-bottom: 30px;
    }

    .cv-tabs a {
        flex: 1;
        padding: 0 10px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cv-section,
    #villagers {
        scroll-margin-top: 75px;
    }
}

/* Very narrow screens */
@media screen and (max-width: 390px) {
    .cv-tabs a {
        padding: 0 5px;
        font-size: 10px;
    }
}

/* Extra narrow screens - 2x2 grid */
@media screen and (max-width: 328px) {
    .cv-tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        padding-right: 55px;
    }

    .cv-tabs a {
        padding: 12px 5px;
        font-size: 11px;
    }
}