ul {
    list-style: none;
}

ul li {
    text-align: left;
}

/*-------------------------
 undecorated list
 -----------------------*/
ul.undecorated {
    padding: 0px;
    margin: 0px;
}

ul.undecorated li {
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

/*-------------------------
 sideline list
 -----------------------*/
ul.sideline {
    padding: 0px;
    margin: 30px 0px;
    border-left: 4px solid var(--color-dark-steel);
    padding-left: 25px;
}

ul.sideline li {
    padding: 0px;
    margin: 0px 0px 15px 0px;
    font-size: 19px;
}

/*-------------------------
 Schedule table
 -----------------------*/
.schedule-list-container {
    margin-top: 10px;
}

.schedule-list-container h4 {
    font-size: 40px;
}

.schedule-list-container ul {
    max-width: 240px;
    margin: 40px auto 0px auto;
    transform: translateX(70px);
}

.schedule-list-container ul li {
    position: relative;
    font-size: 21px;
    margin-bottom: 15px;
}

.schedule-list-container ul li .time {
    position: absolute;
    top: 0px;
    left: -70px;
    z-index: 10;
    color: #ff87fb;
}


/*-------------------------
 social media list on practical info page
 -----------------------*/
#social-media-list {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;

    flex-wrap: wrap;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    margin-top: 40px;
}

#social-media-list li {
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 768px) {

    #social-media-list {
        margin-top: 10px;
        justify-content: flex-start;
    }

    #social-media-list li {

        flex-basis: 50%;
        margin-top: 20px;
    }
}

