td label{
	color:rgba(255, 255, 255, 0.5);
	font-size: 16px;
	line-height: 17px;
	display: block;
	margin-top:10px;
	text-align: center;
}

td, tbody td{
	display: table-cell;
	width:25%;
	padding:15px 25px 15px 25px;
	text-align: left;
	vertical-align: top;
	font-size:18px;
	line-height: 1.3;
	color: #ecefff;
	text-align: center;
	vertical-align: middle;
}
td a, tbody td a, td a:visited, tbody td a:visited, td a:hover, tbody td a:hover{
	color: #ecefff;
	height: 100%;
	text-decoration: none;
	border-bottom: 0px solid transparent;
}
td.time{
	width:15%;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-weight: 600;
	letter-spacing: 0.5px;
}
td.main{
	width:35%;
	background-color:rgba(160, 43, 189, 0.65);
}
td.header{
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: 800;
  text-transform: uppercase;
	font-size: 18px;
	background-color: black;
	text-align: center;
	vertical-align: middle;
	padding:25px 25px 25px 25px;
	color:white;
}
td.header.main{
	font-size: 22px;
	background-color:rgba(160, 43, 189, 0.65);
}

td.pointer:hover{
	background-color: #4b107a;
}
td.pointer.main:hover{
	background-color: #a430c8;
}
td.pointer:nth-child(4):hover, td.pointer.column_3:hover{
	background-color: rgba(0, 149, 255, 0.5);
}


thead, tbody, tfoot {
    border: 0px solid #f1f1f1;
    background-color: rgba(0,0,0,0.5);
}
tbody tr:nth-child(even) {
    border-bottom: 0;
    background-color: transparent;
}

td:nth-child(3), td.column_2{
	background-color: rgb(52, 10, 85);
}
td:nth-child(4), td.column_3{
	background-color: rgba(0, 149, 255, 0.36);
}
td.break{
	background-color: rgba(0,0,0,0.9);
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #0d5673;
    font-weight: 600;
}
td.break.lunch{
	font-size: 15px;
}
td.lunch, td.double{
	padding:35px 25px 35px 25px;
}
td.keynote{
	padding:45px 25px 45px 25px;
	background-color: #462780;
}

td.pre{
	background-color: rgba(0,0,0,0.5);
}

tr{
	border: 1px solid rgba(0,0,0,0.2);
}
.schedule-details h4#top{
	margin-top:0px;
}
.schedule-details h4{
		margin-top:50px;
		margin-bottom:50px;
}

@media only screen and (max-width: 640px) {
	td.header {
	   padding: 25px 10px 25px 10px;
		 font-size: 13px;
	}

	td, tbody td {
    width: 25%;
    padding: 15px 12px 15px 12px;
    font-size: 14px;
	}
	td.time {
    font-weight: 500;
    font-size: 14px;
    padding: 15px 5px 15px 5px;
	}
	td.header.main {
    font-size: 13px;
	}
	.full-row.fullwidth{
		padding-right:0px !important;
		padding-left:0px !important;
	}
	#schedule{
		padding-right:0px !important;
		padding-left:0px !important;
	}
	td label{
		font-size: 14px;
		cursor: auto !important;
	}
}
