#profile {
	max-width: 800px;
}
#profile h1{
	color: white;
	margin-top:30px;
	margin-bottom: 30px;
	line-height: 1.1;
}
#profile .synopsis{
	font-size: 18px;
}

#profile .speakers{
	margin-bottom:30px;
}

#profile .speaker{
	display: inline-block;
	font-size: 19px;
	/*margin-right:15px;
	margin-left:15px;*/
	line-height:19px;
}

#profile .speaker p{
	line-height:18px;
	margin-top:25px;
	width:auto;
	display: inline-block;
	display: block;
}
#profile .speaker.single p{
	float:left;
}

#profile .speaker-image{
	width:80px;
	height: 80px;
	margin-right: 15px;
	float:left;
	display: block;
}
