/*-------------------------
 Loader
 -----------------------*/
 #loader-container{
	width:100%;
	height:100%;
	background-color: black;
	position: fixed;
	z-index: 100;
}
 .loader{
	 position: fixed;
	 top: 50%;
	 left: 50%;
	 transform: translate( -50%, -50% );
	 width:160px;
	 height:160px;
	 display: block;
 }

 body.hide-background,body.hide-background:after {
	  background-size:0,0;
		background-color: black;
 }

section.grid-container{
	margin-top:100px;
}